.navbar {
    background-color: #13174D;
}

#nav-link-item {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);

}

#nav-link-home {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.navbar-nav {
    width: 40%;
}

.btn-check-status {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(23, 194, 236, 1);
    background-color: #232655;
    border-radius: 20px;
    border: 1px solid #232655;
    width: 13%;
}

.header-section {
    background-color: #13174D;
}

.header-image {
    padding: 3rem
}

.header-content {
    padding: 3rem
}

.header-slogan {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(23, 194, 236, 1);
}

.header-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
    line-height: 59px;
    color: rgba(255, 255, 255, 1)
}

.header-title span {
    color: rgba(23, 194, 236, 1);
}

.header-des {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7)
}

.header-content div {
    margin-bottom: 4rem;
}

#btn-get-vaccine {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: #16C3EC;
    border-radius: 20px;
    border: 1px solid #16C3EC;
    padding: 0 1rem;
}

#btn-help-centre {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: #13174D;
    border-radius: 20px;
    border: 1px solid #16C3EC;
    margin-left: 2rem;
    padding: 0 1rem;
}

.result-section {
    background-color: #13174D;
}

.result-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    background-color: #282D5B;
    border-radius: 20px 20px 0 0;
}

.result-certificate {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(23, 194, 236, 1);
    padding: 1rem 0 !important;
    margin: 1rem 10rem;
    background-color: #282D5B;
    text-align: center;
    border-radius: 20px;
}

.result-certificate span {
    text-decoration: underline;
}

.result-form {
    background-color: #202555;
    border-radius: 20px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.result-form div {
    padding: 2rem 10rem;
}

.reason-section {
    background-color: #12174A;
}

.reason-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
}

.reason-des {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.reason-main {
    background-color: #343863;
    padding: 3rem;
    border-radius: 20px 160px 20px 20px;
}

.reason-name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(23, 194, 236, 1);
}

.reason-info {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
}

.reason-read-more {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(23, 194, 236, 1);
}

.reason-main div {
    margin: 2rem 0;
}

.reason-sub {
    margin-top: 10rem;
    padding: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

.reason-name-sub {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    height: 3rem;
    color: rgba(255, 255, 255, 1);
}

.reason-read-more-sub {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.reason-sub div {
    margin: 2rem 0;
}

.get-vaccine-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color: rgba(0, 0, 0, 1);
}

.get-vaccine-label {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
    width: 100%;
}

.get-vaccine-label-sub {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.form-fullname {
    width: 71%;
}

#inp-fullname {
    background-color: #D7D9DE;
    border: none;
    border-radius: 15px;
    height: 4rem;
    padding: 1rem;
    width: 100%;
    font-size: 25px;
}

.form-phone {
    width: 71%;
}

#inp-phone-number {
    background-color: #D7D9DE;
    border: none;
    border-radius: 15px;
    height: 4rem;
    padding: 1rem;
    width: 60%;
    font-size: 25px;
}

#btn-phone-verify {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 194, 236, 1);
    border: 1px solid rgba(23, 194, 236, 1);
    border-radius: 15px;
    width: 30%;
}

#btn-submit {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 194, 236, 1);
    border: 1px solid rgba(23, 194, 236, 1);
    border-radius: 15px;
    width: 71%;
}

.vaccine-registered {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.vaccine-check-status {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(23, 194, 236, 1);
}

.registered-field {
    display: flex;
    justify-content: space-evenly;
    width: 71%;
}

.symptom-section {
    background-color: #12174A;
}

.symptom-sub-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
}

.symptom-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
    line-height: 59px;
    color: rgba(255, 255, 255, 1);
}

.symptom-title span {
    color: rgba(23, 194, 236, 1);
    font-weight: bolder;
}

.symptom-des {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

.all-symtomps {
    margin-top: 8rem;
}

.feedback-section {
    background: url(../images/3bottles.png);
    background-size: 80rem;
    background-repeat: no-repeat;
    background-position: center;
}

.feedback-sub-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(23, 194, 236, 1);
}

.feedback-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
    line-height: 59px;
    color: rgba(0, 0, 0, 1);
}

.feedback-des {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
}

.all-feedback {
    width: 100%;
    margin: 5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.feedback-card-sub {
    background-color: rgb(221, 223, 223, 0.5);
    width: 29%;
    border-radius: 15px;
    padding: 2rem;
}

.user-name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
}

.user-address {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.feedback-content {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2rem;
    text-align: center;
}

.feedback-content span {
    color: rgba(23, 194, 236, 1);
}

.feedback-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feedback-card-main {
    background-color: #16C3EC;
    width: 29%;
    border-radius: 15px;
    padding: 2rem;
}

.feedback-card-main .user-name {
    color: rgba(255, 255, 255, 1);
}

.feedback-card-main .user-address {
    color: rgba(255, 255, 255, 1);
}

.feedback-card-main .feedback-content {
    color: rgba(255, 255, 255, 1);
}

.footer-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 35%, #12174A 35%);
}

.get-a-quote {
    background-color: #16C3EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: 80%;
    border: 10px solid rgba(196, 196, 196, 0.15);
    margin-bottom: 5rem;
}

.get-a-quote-title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color: rgba(255, 255, 255, 1);
    margin-top: 5rem;
}

.get-a-quote-sub-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
}

.contact-form {
    display: flex;
    width: 45%;
    margin-bottom: 5rem;
}

#inp-contact-email {
    padding: 10px;
    font-size: 25px;
    height: 4rem;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 80%;
}

#btn-contact-email {
    background-color: #12174A;
    height: 4rem;
    padding: 10px;
    border: none;
    border-radius: 0 20px 20px 0;
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 800px) {
    nav div {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .result-form div {
        padding: 2rem 0 !important;
    }

    .get-vaccine-section .row {
        flex-direction: column !important;
    }

    .get-vaccine-section .row div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header-section .row {
        flex-direction: column;
        align-items: center;
    }

    .btn-check-status {
        width: 50%;
    }

    .result-certificate {
        margin: 0;
    }

    .form-fullname {
        width: 100%;
    }

    .form-phone {
        width: 100%;
    }

    #btn-submit {
        width: 100%;
    }

    .registered-field {
        flex-direction: column;
        align-items: center;
    }

    .all-feedback {
        flex-direction: column;
        align-items: center;
    }
    .feedback-card-main {
        width: 100%;
        margin: 2rem 0;
    }
    .feedback-card-sub {
        width: 100%;
        margin: 2rem 0;
    }

    .contact-form {
        width: 100%;
    }
    .footer-section .left-navbar-custom {
        flex-direction: column;
        align-items: center;
    }
    .footer-section .left-navbar-custom img {
        width: 50%;
    }
}

@media screen and (max-width: 445px) {
    .header-buttons {
        flex-direction: column;
    }

    #btn-help-centre {
        margin-left: 0;
    }

    .navbar-nav {
        flex-direction: column !important;
    }

    .header-title {
        font-size: 20px;
    }
    .header-section .row img {
        width: 100%;
    }

    .footer-section ul {
        flex-direction: column !important;
    }
}